{
    "database": {
        "client": "postgresql",
        "connection": {
          "host": "xxx",
          "port": "xxx",
          "database": "xxx",
          "user": "xxx",
          "password": "xxx"
        },
        "migrations": {
          "tableName": "knex_migrations"
        },
        "seeds": {
          "directory": "./seeds"
      }
    }
  }